apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: database-persistent-volume-claim
spec:
  accessModes:
  # Can be used by a single node
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi